$normalcolor: #fff;
$menucolor: #f5f5f5;
$logocoloro: #f6f6f6;
$sectionheadingcolor: #444;
$sectionparacolor: #666;
$footertextcolor: #cacaca;
$instraheadingcolor: #d5d5d5;
$instratextcolor: #a6a6a6;
$journalheadingparacolor: #999;
$footerheadercolor: #f0f0f0;